@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #F2F2F2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.my-custom-div {
  background-color: white;
  color: #727272 ;
  position: sticky;
  width: 3px;
  margin-left: 65px;
  left: 65px;
}
.my-v2-custum-div{
  background-color:white ;
  position: sticky;
  color: #727272;
  left: 85px;

}
