@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #F2F2F2;
}

body {
  background-color: var(--background-color); /* Apply background color */
  color: var(--text-color); /* Apply text color */
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

